<div class="container">
  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center">
      <div class="card mb-3 shadow border border-0" style="max-width: 900px;">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="https://pbs.twimg.com/media/DL3svVrW0AA84gz?format=webp&name=900x900" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title fs-3 mb-4">{{datachofer.nombre}} {{datachofer.apellido_Paterno}} {{datachofer.apellido_Materno}}</h5>
              <p class="card-text"><strong class="text-secondary">Código del chofer:</strong> {{datachofer.id_chofer}}</p>
              <p class="card-text"><strong class="text-secondary"><i class="fa-solid fa-phone"></i> Teléfono:</strong> {{datachofer.telefono}}</p>
              <p class="card-text"><strong class="text-secondary"><i class="fa-solid fa-calendar-days"></i> Fecha de nacimiento:</strong> {{datachofer.fecha_Nacimiento}}</p>
              <p class="card-text"><strong class="text-secondary"><i class="fa-solid fa-id-card"></i> Licencia:</strong> {{datachofer.licencia}}</p>
              <p class="card-text"><strong class="text-secondary"><i class="fa-solid fa-check"></i> Disponibilidad: </strong>
                {{datachofer.disponibilidad}}</p>
              <p class="card-text"><small class="text-muted">Recet updated</small></p>
              <a [routerLink]="['/ListarChoferes']" class="btn btn-primary">Regresar</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
