  <div class="container">
  <div class="row">
    <h2>Lista de choferes</h2>

  </div>
  <div class="row">
      <div *ngFor="let ch of listachoferes" class="col-md-2 col-lg-3 m-4 shadow p-4 border">
        <img class="card mb-2" style="width: 18rem;">
          <img src="https://pbs.twimg.com/media/DL3svVrW0AA84gz.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ch.nombre+" "}}{{ch.apellido_Paterno+" "}}{{ch.apellido_Materno}}</h5>
            <p class="card-text"></p>
            <a [routerLink]="['/DetalleChofer', ch.id_chofer]" class="btn btn-primary">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>

